<h2>Leaderboards!</h2>

<div id="topTen">
	<h3>Top Ten scores of 2011!</h3>
	<% @scores.each do |score| %>
	  <div class="topTenScore">
	  <%= @i %>. <strong><%= score.user.name %></strong>
	  <%= score.total %>
	  (<%= score.created_at.strftime("%b %e, %Y")%>)
	  </div>
	  <% @i = @i + 1 %>
	<% end %>
</div>

<div id="topTenMonth">
	<h3>Top Ten scores of <%= @time.strftime("%B") %>!</h3>
	<% @scores_month.each do |score| %>
	<div class="topTenScore">
	<%= @m %>. <strong><%= score.user.name %></strong>
	<%= score.total %>
	(<%= score.created_at.strftime("%b %e, %Y")%>)
	</div>
	<% @m = @m + 1 %>
	<% end %>
</div>

<div id="topTenWeek">
  <h3>Top Ten scores of the week!</h3>
  <% @scores_week.each do |score| %>
  	<div class="topTenScore">
	<%= @w %>. <strong><%= score.user.name %></strong>
	<%= score.total %>
	(<%= score.created_at.strftime("%b %e, %Y")%>)
	</div>
	<% @w = @w + 1 %>
  <% end %>
</div>
<%= Time.now.beginning_of_month %>